# Themes directory of example site; ignored so that we can clone the repo
# inside the themes directory and test the example site with "hugo server".
exampleSite/themes/

# OSX
.DS_Store

# Javascript build system
node_modules/
.eslintrc.js